*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
body{
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 9%, 72%, 0.5);
}
#container{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow:
                3.1px 3px 2px -8px rgba(0, 0, 0, 0.025),
                7.1px 7.1px 4.9px -8px rgba(0, 0, 0, 0.036),
                13.2px 13.1px 9.3px -8px rgba(0, 0, 0, 0.045),
                23.3px 23.1px 16.5px -8px rgba(0, 0, 0, 0.054),
                43.9px 43.5px 30.9px -8px rgba(0, 0, 0, 0.065),
                115px 114px 74px -8px rgba(0, 0, 0, 0.09);

}
#inputField{
    height: 20%;
    width: 50%;
    font-size: 50px;
    text-align: end;
    padding: 5px;
    border-radius: 5px;
    text-transform: lowercase;
}
#btn,#btn1{
    height: 10%;
    width: 25%;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: mediumslateblue;
}
#btn:hover{
    background-color: hsla(0, 9%, 72%, 0.5);
}
#btn1:hover{
    background-color: hsla(0, 9%, 72%, 0.5);
}
#output{
    border: 1px solid grey;
    margin-top: 20px;
    font-size: 50px;
    width: 50%;
    table-layout: fixed;
    text-align: center;
    color: green;
    border-radius: 10px;
}
header{
    position: absolute;
    margin-bottom: 550px;
    font-size: 50px;
    background-color: #fff;
    width: 100%;
    text-align: center;
}
footer{
    position: absolute;
    margin-top: 550px;
    font-size: 12px;
}
footer a{
    text-decoration: none;
}
@media screen and (max-width:500px){
    #container{
        width: 350px;
    }
    #inputField{
        width: 300px;
        height: 50px;
        font-size: 40px;
    }
    #btn,#btn1{
        font-size: 25px;
    }
    header{
        margin-bottom: 830px;
        font-size: 40px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #output{
        height: 50px;
        width: 100px;
        font-size: 35px;
    }
    footer{
        margin-top: 800px;
    }
}
